<div class="lg:grid lg:grid-cols-3 lg:gap-8 lg:items-center">
    <!-- Left nav -->
    <div class="hidden lg:block lg:col-span-2">
        <nav class="flex space-x-4">
            <a [routerLink]="['/Home/Dates/MyDates']" routerLinkActive="bg" class="text-cyan-100  text-sm font-medium rounded-md bg-white bg-opacity-0 px-3 py-2 hover:bg-opacity-10" aria-current="page">  Atencion de Citas </a>

            <a [routerLink]="['/Home/MedicalFormula/UserMedicalFormula']" routerLinkActive="bg" class="text-cyan-100 text-sm font-medium rounded-md bg-white bg-opacity-0 px-3 py-2 hover:bg-opacity-10">  Ordenes Médicas </a>

        </nav>
    </div>

</div>
